<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>

<html>
<head>
	<title> Marx in 5 minutes </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<h1>Marx in 5 minutes version 1.0.2</h1>
	<p>Labour is the source of wealth and the capitalists take advantage of the labour of the prolatariat! Labour is the source of wealth and the capitalists take advantage of the labour of the prolatariat!Labour is the source of wealth and the capitalists take advantage of the labour of the prolatariat!</p>
</body>
</html>